* {
    box-sizing: border-box;
}
 body {
     background-color:white;  
 }

 h3 {
     color: black;
     text-align: center;background-color: silver;

 }
nav ul a  {
    font-size: 20px;
}
#current a {
    color: red;
}

nav ul a:hover {
    color: red;
}


#search-bar {
    margin-left: 30pc;
}

input {
    color: white
}

.pagination {
    font-size: 30px;
    
}

.pagination a {
    color: black;
}

#btn-span {
    position:relative;
    display:inline-block;
   
}
.watch-btn, .remove-btn {
    margin-bottom: 22px;
}
#movie-trailer{
    float: right;
}
#release-date{
    font-size: 32px;
}

#movie-summary{
    font-size: 32px;
    float: right;
    

}