* {
    box-sizing: border-box;
}
 body {
     background-color:white;  
 }

 h3 {
     color: black;
     text-align: center;background-color: silver;

 }
nav ul a  {
    font-size: 20px;
 
}

nav ul a:hover {
    color: red;
}


#search-bar {
    margin-left: 30pc;
}

input {
    color: white
}

.pagination {
    font-size: 30px;
    
}

.pagination a {
    color: black;
}



   #new-release-img {
       position: relative;
   }
   
   /* Style the button and place it in the middle of the container/image */
    #watch-list-btn {
        position: absolute;
        bottom:50%;
        right:50%;
        width:100px;
        height:30px;
    margin:0px -50px -15px 0px;
    }

   #new-releases #watch-list-btn:hover { 
    background-color: black;
   }
