* {
    box-sizing: border-box;
}
 body {
     background-color:white;  
 }

 h3 {
     color: black;
     text-align: center;background-color: silver;

 }
nav ul a  {
    font-size: 20px;
 
<<<<<<< HEAD
}

nav ul a:hover {
    color: red;
}


#search-bar {
    margin-left: 30pc;
}

.pagination {
    font-size: 30px;
    
}

.pagination a {
    color: black;
=======
>>>>>>> 84cde13cb9d7135db208c967996f45a050f40178
}



